.container {
  display: flex;
  flex-direction: column;
}

.videoDetail {
  flex-basis: 83.333333%;
}

.channelVideos {
  flex-basis: 33.333333%;
}

.containerText {
  padding: 2.25rem;
}

.description {
  white-space: pre-wrap;
}

.title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
}
