.flexContainer {
  display: flex;
  gap: 0.6rem;
  margin: 1rem;
}

.image {
  width: 100%;
}

.flexImage {
  width: 60%;
}

.title {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.channel,
.publish {
  font-size: small;
  opacity: 0.8;
}
